alabaster==0.7.11
asn1crypto==0.24.0
astroid==2.0.4
Babel==2.6.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
CommonMark==0.5.4
conda==4.5.11
cryptography==2.2.2
docutils==0.14
Flask==1.1.dev0
Flask-Cors==3.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gunicorn==19.9.0
idna==2.6
imagesize==1.1.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.0
pmix==0.4.0
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.1.0
